@(boulder: Boulder)

<tr data-boulder-name="@boulder.climbName">
    <td><h4>@boulder.climbName</h4></td>
    @if(boulder.grade != null){
        <td><b>@boulder.grade</b></td>
    }
    @if(boulder.firstAssent != null){
        <td><i>@boulder.firstAssent</i></td>
    }
    @if(boulder.sent != null){
        @if(boulder.sent == true){
            <td class="text-center">
                <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-success">Sent</button>
                <button type="button" class="btn btn-danger">Undo</button>
                </div>
            </td>
        }
        @if(boulder.sent == false){
            <td class="text-center"><button class="btn btn-sm btn-success tick">Tick</button></td>
        }
    }
</tr>
