@(boulder: Boulder, climber: Climber)

<tr id="@boulder.climbName">
    <td><h4>@boulder.climbName</h4></td>
    @if(boulder.grade != null){
        <td><b>@boulder.grade</b></td>
    } else {
        <td><b>(unknown)</b></td>
    }
    @if(boulder.firstAssent != null){
        <td><i>@boulder.firstAssent</i></td>
    } else {
        <td><i>(unknown)</i></td>
    }
    <td class="text-center">
    @if(boulder.haveSent.exists{ a=> a.username == climber.username}) { 
        <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-danger">Untick</button>
        <button type="button" id="deleteBoulder" class="btn btn-danger" onclick="deleteBoulder('@boulder.climbName')">Delete</button>
        </div>
    } else {
        <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-success">Tick</button>
        <button type="button" id="deleteBoulder" class="btn btn-danger" onclick="deleteBoulder('@boulder.climbName')">Delete</button>
        </div>
    }
    </td>
</tr>
