@(boulder: Boulder, climber: Climber)

<tr id="@boulder.climbName">
    <td><h5>@boulder.climbName</h5></td>
    @if(boulder.grade != null){
        <td><h5><b>@boulder.grade</b></h5></td>
    } else {
        <td><b>(unknown)</b></td>
    }
    @if(boulder.firstAssent != null){
        <td><h5><i>@boulder.firstAssent</i></h5></td>
    } else {
        <td><i>(unknown)</i></td>
    }
    <td class="text-center" id="buttons@boulder.climbName">
    @if(boulder.haveSent.exists{ a=> a.username == climber.username}) { 
        <div class="btn-group btn-group-sm">
        <button type="button" class="btn" onclick="untickBoulder('@boulder.climbName')">Untick</button>
        <button type="button" id="deleteBoulder" class="btn btn-danger" onclick="deleteBoulder('@boulder.climbName')">Delete</button>
        </div>
    } else {
        <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-success" onclick="tickBoulder('@boulder.climbName')">Tick</button>
        <button type="button" id="deleteBoulder" class="btn btn-danger" onclick="deleteBoulder('@boulder.climbName')">Delete</button>
        </div>
    }
    </td>
</tr>
