@(crags: List[Crag], boulders: List[Boulder], climber: Climber)

@main(crags, climber) {
    <div class="boulders">
    @boulders.groupBy(_.crag).map{
        case (crag,boulders) => {
            <header>
                <h3>@crag.cragName</h3>
            </header>
            <!--script>
                $(function(){
                    $("table#climbs").tablesorter({ sortList: [[0,0]] });
                });
            </script-->
            <div class="table-responsive">
            <table id="climbs" class="table table-striped table-condensed tablesorter">
                <thead>
                    <tr>
                        <th>Climb</th>
                        <th>Grade</th>
                        <th>FA</th>
                        <th class="text-center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @boulders.map{ boulder =>
                        @views.html.boulders.item(boulder)
                    }
                </tbody>
            </table>
            </div>
        </div>
        }
    }
}
