@(crags: List[Crag], boulders: List[Boulder])

@main(crags) {
    <header>
        <hgroup>
            <h1>Ticklist</h1>
        </hgroup>
    </header>

    <article class="boulders">
    @boulders.groupBy(_.crag).map{
        case (crag,boulders) => {
            <header>
                <h3>@crag.cragName</h3>
            </header>
            <!--script>
                $(function(){
                    $("table#climbs").tablesorter({ sortList: [[0,0]] });
                });
            </script-->
            <table id="climbs" class="table table-striped tablesorter">
                <thead>
                    <tr>
                        <th>Climb</th>
                        <th>Grade</th>
                        <th>FA</th>
                    </tr>
                </thead>
                <tbody>
                    @boulders.map{ boulder =>
                        @views.html.boulders.item(boulder)
                    }
                </tbody>
            </table>
            </article>
        }
    }
}
